services:
  postgres:
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - ./docker-data/postgresql:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=root

  adminer:
    image: adminer
    links:
      - postgres
    ports:
      - 8080:8080

  # redis:
  #   image: redis:alpine
  #   ports:
  #     - 6379:6379
